:root {
    background-color: black;
    color: rgb(27, 240, 27);
    --ff-accent: 'Libre Barcode 128 Text', cursive;
    --ff-main: 'Vollkorn SC', serif;
}

body {
    font-family: var(--ff-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
}

h1 {
    color: black;
    font-size: 3rem;
    font-weight: 700;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa; 
}

h2 {
    font-family: var(--ff-accent);
    font-size: 3em;
}

input {
    align-content: center;
    border-radius: 7px;
    width: 20%;
    height: 1.5em;
    margin: 1em 1em 1em 1em;
    text-align: center;
    border: 1px solid lightgrey;
    font-family: inherit;
    transition: transform 250ms;

}

input:hover,
input:focus {
    transform: scale(1.1);
}

#go-btn {
    background-color:rgb(27, 240, 27);
    color: black;
    font-family: var(--ff-accent);
    border-radius: 5px;
    width: 3em;
    height: 3em;
    font-size: 1.5rem;
    transition: transform 250ms;
}

#go-btn:hover,
#go-btn:focus {
    font-size: 2rem;
    background-color: white;
    transform: scale(1.1);
}

p {
    font-family: var(--ff-accent);
    font-size: 4rem;
}